.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 3px;
  font-weight: 600;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column .fa-battery-full fa-lg {
  margin: 0px 5px;
}

.fa-crown {
  color: var(--yellow);
}

.fa-battery-full {
  color: goldenrod;
}
