.user-component {
  border-radius: 15px;
  justify-content: space-between;
  transition: box-shadow 0.5s ease-in-out;
}

.user-component:hover {
  box-shadow: 5px 5px 5px salmon;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.friends__screen {
  padding: 0px var(--horizontal-space);
}

.user-component__avatar--sm {
  border-radius: 25px;
  width: 60px;
  height: 60px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

/*.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}*/

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}
